<script lang="ts" setup>
import { ref } from 'vue';
import { useMemberStore } from '@/stores/member';
import { useReceiptStore } from '@/stores/receipt';

const tel = ref('')
const memberStore = useMemberStore()
const receiptStore = useReceiptStore()
function onClick() {
    console.log("cliked")
    memberStore.searchMember(tel.value)
    receiptStore.calReceipt()
}
</script>
<template>
    <v-container>
        <!-- no gutters use in vrow t-->
        <v-row no-gutters>
            <v-col no-gutters cols="6">

                <v-text-field v-model="tel" density="compact" variant="solo" label="Search templates"
                    append-inner-icon="mdi-magnify" single-line hide-details @click:append-inner="onClick"
                    @keyup.enter="onClick"></v-text-field>
            </v-col>
            <!-- if it is null it will show ไม่พบ -->
            <v-col cols="6" class="pa-2 text-center">{{ memberStore.currentMember ? memberStore.currentMember?.name :
                'ไม่พบผู้ใช๋'
            }}</v-col>
        </v-row>
    </v-container>
</template>