<script setup lang="ts">
import 'material-design-icons-iconfont/dist/material-design-icons.css'
import { ref, nextTick, provide } from 'vue'

import { type Product } from '@/types/Product'
import { type ReceiptItem } from '@/types/ReceiptItem'

import ProductList from '@/components/ProductList.vue'
import ReceiptDetailTable from './ReceiptDetailTable.vue'
import ReceiptCard from './ReceiptCard.vue'
import MemberCard from './MemberCard.vue'
import ReceiptDialog from './ReceiptDialog.vue'

import { useReceiptStore } from '@/stores/receipt'

const dialog = ref(false)
provide('receiptDialog', dialog)

const ReceiptStore = useReceiptStore()

const product1: Product[] = [
  {
    id: 1,
    name: 'ลาเต้ ร้อน',
    price: 35.0,
    type: 1
  },
  {
    id: 2,
    name: 'โก้โก้ ร้อน',
    price: 45.0,
    type: 1
  },
  {
    id: 3,
    name: 'ลาเต้ ร้อน',
    price: 55.0,
    type: 1
  },
  {
    id: 4,
    name: 'ลาเต้ ร้อน',
    price: 40.0,
    type: 1
  },
  {
    id: 5,
    name: 'ลาเต้ ร้อน',
    price: 35.0,
    type: 1
  },
  {
    id: 6,
    name: 'ลาเต้ ร้อน',
    price: 30.0,
    type: 1
  },
  {
    id: 7,
    name: 'ลาเต้ ร้อน',
    price: 55.0,
    type: 1
  },
  {
    id: 8,
    name: 'ลาเต้ ร้อน',
    price: 45.0,
    type: 1
  },
  {
    id: 9,
    name: 'ลาเต้ ร้อน',
    price: 35.0,
    type: 1
  }
]
const product2: Product[] = [
  {
    id: 1,
    name: 'ลาเต้ ร้อน',
    price: 35.0,
    type: 2
  },
  {
    id: 2,
    name: 'โก้โก้ ร้อน',
    price: 45.0,
    type: 2
  }
]
const product3: Product[] = [
  {
    id: 1,
    name: 'ลาเต้ ร้อน',
    price: 35.0,
    type: 3
  },
  {
    id: 2,
    name: 'โก้โก้ ร้อน',
    price: 45.0,
    type: 3
  },
  {
    id: 3,
    name: 'ลาเต้ ร้อน',
    price: 55.0,
    type: 3
  }
]

const tab = ref(null)
// this function now add and console .log too
const selected = (p: Product) => {
  console.log('ProductView: ' + p)
  ReceiptStore.addReceiptItem(p)
  // this line make when product is selected scroll will be at height
  nextTick(() => {
    if (divReceiptItems.value) divReceiptItems.value.scrollTo(0, divReceiptItems.value.scrollHeight)
  })
}
const exampleRecieptItem = {
  id: 1,
  name: 'ลาเต้ ร้อน',
  price: 35.0,
  unit: 1,
  productId: 1,
  product: null
}
const divReceiptItems = ref<HTMLElement | null>(null)
const showReceipt = function () {
  ReceiptStore.showReceiptDialog()
}
</script>

<template>
  <div>
    <v-container>
      <v-row>
        <v-col col="12" md="6">
          <v-container style="padding: 0%">
            <v-row>
              <v-col cols="12">
                <div ref="divReceiptItems" style="height: 300; overflow: auto">
                  <v-sheet min-width="300" max-width="600" height="250" elevation="6">
                    <ReceiptDetailTable></ReceiptDetailTable>
                  </v-sheet>
                </div>
              </v-col>
              <v-col cols="12">
                <v-sheet min-width="300" max-width="600" height="60" elevation="6">
                  <MemberCard></MemberCard>
                </v-sheet>
              </v-col>
              <v-col cols="12">
                <v-sheet min-width="300" max-width="600" height="120" elevation="6">
                  <ReceiptCard></ReceiptCard>
                </v-sheet>
              </v-col>
              <v-col cols="12">
                <v-sheet min-width="300" max-width="600" height="80" elevation="6">
                  <v-container>
                    <v-row>
                      <v-col cols="12" sm="6">
                        <v-btn block rounded="xl" size="large" color="primary">ยกเลิก</v-btn>
                      </v-col> <v-col cols="12" sm="6">
                        <v-btn block rounded="xl" size="large" @click="showReceipt()">ชำระเงิน</v-btn>
                      </v-col>
                    </v-row>
                  </v-container>
                </v-sheet>
              </v-col>
            </v-row>
          </v-container>
        </v-col>
        <v-col col="12" md="6">
          <v-sheet min-width="300" max-width="600" height="600" elevation="6">
            <!-- this v-tabs is like html or it is mask -->
            <v-tabs v-model="tab" color="#4DB6AC" align-tabs="center">
              <v-tab :value="1">เครื่องดื่ม</v-tab>
              <v-tab :value="2">ขนม</v-tab>
              <v-tab :value="3">น้ำ</v-tab>
            </v-tabs>
            <!-- this make window show tabs you have to set value  make it different -->
            <!-- this will set what item is inside -->
            <v-window v-model="tab">
              <v-window-item :value="1">
                <ProductList :products="product1" @selected-product="selected"> </ProductList>
              </v-window-item>
              <v-window-item :value="2">
                <ProductList :products="product2" @selected-product="selected"> </ProductList>
              </v-window-item>
              <v-window-item :value="3">
                <ProductList :products="product3" @selected-product="selected"> </ProductList>
              </v-window-item>
            </v-window>
          </v-sheet>
        </v-col>
      </v-row>
    </v-container>
  </div>
  <ReceiptDialog></ReceiptDialog>
</template>
<style scoped></style>
@/types/ReceiptItem
