<script setup lang="ts">
import { useReceiptStore } from '@/stores/receipt';

const receiptStore = useReceiptStore()
</script>
<template>
  <v-container class="text-body-2">
    <!-- no-gutters is no space between row -->
    <v-row no-gutters><v-col cols="6">ยอดก่อนหัก</v-col><v-col cols="6">{{ receiptStore.receipt?.totalBefore }}</v-col>
      <v-col cols="6">ส่วนลดสมาชิค</v-col><v-col cols="6">{{ receiptStore.receipt?.memberDiscount }}</v-col> <v-col
        cols="6">ยอดรวม</v-col><v-col cols="6">{{ receiptStore.receipt?.total }}</v-col></v-row>
  </v-container>
</template>
